In [2]:
import pandas as pd

In [3]:
import sqlite3

In [4]:
con = sqlite3.connect("cars_base")

In [5]:
df = pd.read_sql_query("SELECT * FROM cars", con)

In [6]:
print(df)

                                                    model  capacity  mileage  \
0                    Ford Fiesta 1.0 EcoBoost ST-Line ASS       998   106000
1                  Skoda Octavia Combi 2.0 TDI DSG 4x4 RS      1968    11900
2                   BMW Seria 7 740Le xDrive iPerformance      1998   167273
3                                              Ford Focus      1798   189212
4       Volkswagen Caravelle 2.0 TDI L2 Comfortline 4M...      1968   165250
...                                                   ...       ...      ...
246518                                            Audi Q7      4163   267000
246519                                Ford Tourneo Custom      2198   160545
246520                     Dodge Challenger 6.4 Scat Pack      6417    55000
246521                       Opel Astra 2.0 CDTI Exklusiv      1956   216000
246522                     Opel Astra 1.4 Caravan Edition      1364   163000

         price       gearbox             fuel  power  production  \
0        50900      Manualna          Benzyna    125        2018
1       176000  Automatyczna           Diesel    200        2022
2       220000  Automatyczna  Hybryda Plug-in    258        2017
3        17700      Manualna          Benzyna    125        2009
4        86000      Manualna           Diesel    150        2010
...        ...           ...              ...    ...         ...
246518   29800  Automatyczna          Benzyna    350        2007
246519   68900      Manualna           Diesel    125        2013
246520  259900  Automatyczna          Benzyna    492        2019
246521   26500      Manualna           Diesel    164        2013
246522   12500      Manualna          Benzyna     90        2005

                     place
0              Mazowieckie
1              Małopolskie
2              Małopolskie
3       Kujawsko-pomorskie
4              Mazowieckie
...                    ...
246518         Mazowieckie
246519        Dolnośląskie
246520        Dolnośląskie
246521         Mazowieckie
246522  Zachodniopomorskie

[246523 rows x 9 columns]

In [7]:
segmentation = df.groupby(['model']).size().reset_index(name='offers_number')

In [8]:
print(segmentation)

                                                  model  offers_number
0                                            Abarth 595              2
1                                            Aixam A741              1
2                                       Aixam Crossline              2
3                                             Aixam GTO              1
4                                        Aixam Roadline              1
...                                                 ...            ...
8059                    Volvo XC 90 T6 AWD Momentum 7os              6
8060  Volvo XC 90 T8 AWD Plug-In Hybrid Inscription 7os              3
8061     Volvo XC 90 T8 AWD Plug-In Hybrid R-Design 7os              1
8062  Volvo XC 90 T8 AWD Twin Engine Geartronic Insc...              1
8063                                          ZEEKR 001              1

[8064 rows x 2 columns]

In [9]:
segmentation['offers_number']

0       2
1       1
2       2
3       1
4       1
       ..
8059    6
8060    3
8061    1
8062    1
8063    1
Name: offers_number, Length: 8064, dtype: int64

In [10]:
segmentation_sorted = segmentation.sort_values(by='offers_number', ascending=False)

In [11]:
segmentation_sorted.head(15)

                                  model  offers_number
803                         BMW Seria 3           1528
7337                  Volkswagen Passat           1506
4585                         Opel Astra           1464
959                         BMW Seria 5           1398
7966                        Volvo XC 60           1393
3957              Mercedes-Benz Klasa C           1391
2649                        Hyundai I30           1181
3875              Mercedes-Benz Klasa A           1150
6785                        Toyota C-HR           1117
4992                         Opel Mokka           1010
859                    BMW Seria 3 320i            907
2226  Ford Fusion 2.0 EcoBoost Titanium            896
6072                          Seat Leon            854
4276                 Mercedes-Benz Vito            852
3150                            Kia Rio            843

In [12]:
df.iloc[0]

model         Ford Fiesta 1.0 EcoBoost ST-Line ASS
capacity                                       998
mileage                                     106000
price                                        50900
gearbox                                   Manualna
fuel                                       Benzyna
power                                          125
production                                    2018
place                                  Mazowieckie
Name: 0, dtype: object

In [13]:
df.columns

Index(['model', 'capacity', 'mileage', 'price', 'gearbox', 'fuel', 'power',
       'production', 'place'],
      dtype='object')

In [15]:
df.iloc[[0, 2], 3]

0     50900
2    220000
Name: price, dtype: int64

In [25]:
df.loc[0:2, 'price':'production']

    price       gearbox             fuel  power  production
0   50900      Manualna          Benzyna    125        2018
1  176000  Automatyczna           Diesel    200        2022
2  220000  Automatyczna  Hybryda Plug-in    258        2017

In [20]:
df.shape

(246523, 9)

In [21]:
df['gearbox'].value_counts()

gearbox
Manualna        147055
Automatyczna     99468
Name: count, dtype: int64

In [24]:
df['production'].value_counts().head(20)

production
2016    21802
2018    18674
2013    17445
2015    17369
2012    15780
2017    15585
2019    14543
2014    14086
2008    13656
2010    13541
2011    11732
2009    10568
2020    10546
2021     8945
2007     8179
2006     7030
2004     5005
2022     4967
2023     4743
2005     4421
Name: count, dtype: int64